Source: lxqt-branding-debian
Maintainer: LXQt Packaging Team <team+lxqt@tracker.debian.org>
Uploaders: Andrew Lee (李健秋) <ajqlee@debian.org>
Section: x11
Priority: optional
Build-Depends: cmake, debhelper-compat (= 13), lxqt-build-tools-qt5
Standards-Version: 4.6.2
Vcs-Browser: https://salsa.debian.org/lxqt-team/lxqt-branding-debian
Vcs-Git: https://salsa.debian.org/lxqt-team/lxqt-branding-debian.git
Homepage: https://salsa.debian.org/lxqt-team/lxqt-branding-debian

Package: lxqt-branding-debian
Architecture: all
Multi-Arch: foreign
Depends: lxqt-theme-debian, xsettingsd, ${misc:Depends}
Provides: lxqt-branding
Description: Debian branding for LXQt
 LXQt is an advanced, easy-to-use, and fast desktop environment based on Qt
 technologies. It has been tailored for users who value simplicity, speed, and
 an intuitive interface. Unlike most desktop environments, LXQt also works
 fine with less powerful machines.
 .
 The branding package contains misc. downstream configurations for LXQt.

Package: lxqt-theme-debian
Architecture: all
Multi-Arch: foreign
Depends: desktop-base, lxqt-system-theme, ${misc:Depends}
Recommends: gnome-themes-extra,
            oxygen-icon-theme,
            papirus-icon-theme,
            xfwm4-theme-breeze
Provides: lxqt-theme
Description: Debian theme for LXQt
 LXQt is an advanced, easy-to-use, and fast desktop environment based on Qt
 technologies. It has been tailored for users who value simplicity, speed, and
 an intuitive interface. Unlike most desktop environments, LXQt also works
 fine with less powerful machines.
 .
 The Debian LXQt theme is based on the theme LXQt Dark.
 .
 This Package contains LXQt theme files.
